[Desktop Entry]
Name=Cosmic Watch
Comment=A clock, alarm, stopwatch, and timer application for COSMIC
Type=Application
Icon=cosmic-watch
Exec=cosmic-watch
Terminal=false
StartupNotify=true
Categories=COSMIC;Utility;Clock;
Keywords=COSMIC;clock;alarm;stopwatch;timer;
